.Pokecard {
  text-align: center;
  border: 1px solid gray;
  padding: 0.2rem;
  width: 200px;
  margin: 0.5rem;
  background: #e3e7ee;
  box-shadow: 1px 2px 2px -1px rgba(0,0,0,0.5);
  transition: all 0.5s ease;
}

.Pokecard:hover {
  transform: scale(1.04);
  box-shadow: 2px 3px 3px 1px rgba(0,0,0,0.5);
}

.Pokecard caption {
  margin: 0.5rem;
}

.Pokecard table {
  margin: 0.25rem auto;
}
.Pokecard table, th, td {
  padding: 0.2rem;
  border: 1px solid black;
}
